page-home {
  img#logo {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 10%;
  }

  div#login-form {
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    margin: 0 auto;
  }

  #video-background {
/*  making the video fullscreen  */
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
}


}
